
  <!-- Rezeptliste und Rezeptdetails nebeinander 2 Spalten nebeeinander -->
  <div class="row">
    <!-- links kleinere Spalte -->
    <div class="col-md-5">
      <app-recipe-list
      ></app-recipe-list>
    </div>
    <!-- etwas breitere Spalte Rechts -->
    <div class="col-md-7">
      <app-recipe-detail *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe">

      </app-recipe-detail>
      <ng-template #infoText>
        <p>Please select a Recipe!</p>
      </ng-template>
    </div>
  </div>


